[includeIf "gitdir:/Users/rjl/"]
  path = ~/.gitconfig-github
[includeIf "gitdir:/Users/rjl/Developer/projects/gitea/"]
  path = /Users/rjl/.gitconfig-gitea

[core]
  pager = delta
	excludesfile = /Users/rjl/.gitignore_global
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = main

[pull]
	rebase = false
